.calculator{    
    opacity: 0;
    transition: all 1.5s;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgba(131, 130, 130, 0.788);
    width: 400px;
    height: 700px;
    border: 4px solid rgb(78, 78, 78);
    border-radius: 20px;
}
.close-calculator{
    margin-left: 350px;
    margin-top: 10px;
    display: block;
    font-size: bold;
    font-size: 40px;
    align-items: flex-end;
}
.input{
    font-size: 30px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    width: 300px;
    height: 50px;
    background-color: rgba(218, 214, 214, 0.63);
    border: 3px solid rgba(233, 97, 7, 0.767);
    border-radius: 15px;
}

.flex_number{
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: 18px;
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}

.num{
    color: aliceblue;
    border-radius: 15px;
    background-color: rgb(231, 80, 25);
    width: 60px;
    height: 60px;
}

.operand{
    color: aliceblue;
    border-radius: 15px;
    background-color: rgb(231, 80, 25);
    width: 60px;
    height: 60px;
}

.result_sum{    
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    background-color: rgb(193, 223, 224);
    border-radius: 15px;
    color: rgb(247, 9, 1);
    width: 60px;
    height: 60px;
}